 Q.1) Convert given hrs & mins in second

In [6]:
hour=int(input('Enter hours:'))
min=int(input('Enter minutes:'))
second=hour*60*60 + min*60
print('the given time is',hour,'hours',min,'minutes and is equal to:',second)

Enter hours:3
Enter minutes:15
the given time is 3 hours 15 minutes and is equal to: 11700

Q.2) Write code to find the average of ‘n’
numbers entered by the user to function avg ( ).
Ex: avg (10, 20, 30, 40) => average is: 70
avg (5, 10, 15) => average is: 10

In [1]:
a=[]
count=0
while True:
  print('Enter numbers :')
  n=input()
  if n=='':
    break
  a.append(int(n))
  count+=1
print('average is',sum(a)/count)

Enter numbers :
2
Enter numbers :
1
Enter numbers :
4
Enter numbers :
3
Enter numbers :
2
Enter numbers :

average is 2.4

Q.3) pattern

In [17]:
for i in range (1,6):
  for j in range (1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

Q.5) create class Math

In [22]:
class Math :
  def __init__(self):
    self.a=int(input('Enter first number:'))
    self.b=int(input('Enter second number:'))
  def add(self):
    print('addition',self.a,'and',self.b,'is',self.a+self.b)
  def sub(self):
    print('subtraction',self.a,'and',self.b,'is',self.a-self.b)
  def mul(self):
    print('multiplication',self.a,'and',self.b,'is',self.a*self.b)
  def div(self):
    print('division',self.a,'and',self.b,'is',self.a/self.b)

In [23]:
v=Math()
v.add()
v.sub()
v.mul()
v.div()

Enter first number:8
Enter second number:4
addition 8 and 4 is 12
subtraction 8 and 4 is 4
multiplication 8 and 4 is 32
division 8 and 4 is 2.0

Q.7) Convert Paise in Rupees &
Paises
Ex: 350 is 3 Rupees 50 Paise
3.50 print Rupees: 3
Paise: 50

In [20]:
a=int(input('Enter total paise:'))
p=a%100
r=a//100
print(r,'rupees',p,'paise')

Enter total paise:350
3 rupees 50 paise

Q.8) pattern

In [16]:
for i in range(1,8,2):
  for j in range(1,i+1):
    print(i,end=' ')
  print()

1
3 3 3
5 5 5 5 5
7 7 7 7 7 7 7

.9) Accept String & print only alternate
characters on a string.
Ex: this i s a _ test

In [7]:
s=input('Enter a string:')
for i in range(len(s)):
  if (i % 2 != 0):
    print(s[i],end='')

Enter a string:this is a test
hsi  et

Q.10) Create menu driven code for
1) Accept 2 numbers
2) Add
3) Sub
4) Mul
5) Div

In [12]:
class Math :
  def set(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    print('addition',self.a,'and',self.b,'is',self.a+self.b)
  def sub(self):
    print('subtraction',self.a,'and',self.b,'is',self.a-self.b)
  def mul(self):
    print('multiplication',self.a,'and',self.b,'is',self.a*self.b)
  def div(self):
    print('division',self.a,'and',self.b,'is',self.a/self.b)
print('Enter 2 numbers:')
z=int(input())
x=int(input())
q=Math()
q.set(z,x)
while True:
  s=int(input('\n select operation: \n 1.addition \n 2.subtraction \n 3.multiplication \n 4.division \n 0. exit \n'))
  if s==1:
    q.add()
    continue
  elif s==2:
    q.sub()
    continue
  elif s==3:
    q.mul()
    continue
  elif s==4:
    q.div()
    continue
  elif s==0:
    break
  else:
    print('wrong input please try again')

Enter 2 numbers:
8
4

 select operation:
 1.addition
 2.subtraction
 3.multiplication
 4.division
 0. exit
2
subtraction 8 and 4 is 4

 select operation:
 1.addition
 2.subtraction
 3.multiplication
 4.division
 0. exit
0